<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=divice-width, initial=1.0"/>
	<title>Insert title here</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script><!-- なぜかjs以下が読み込めない -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/js/mdb.min.js"></script><!-- MDB -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script src="js/bootstrap-markdown.js"></script><!-- テキストボックス -->
	<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script><!-- 共通 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css" rel="stylesheet"></link><!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"></link><!-- Bootstrap -->
	<link href="css/bootstrap-markdown.min.css" rel="stylesheet"></link><!-- テキストボックス -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link><!-- Webフォント -->
<style>
body {
	padding-top: 70px;
}
span {
  font-family: 'Noto Sans Japanese', 'Meiryo', Arial, sans-serif;;
  font-weight: 700;
}
</style>
<script>
	$.material.init();
</script>
</head>
<body  background="img/background.jpg">
<!-- ヘッダー -->
<div class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="nabar-header">
			<div class="row">
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block" onclick="moveTop();"><i class="fa fa-lock  fa-2x" aria-hidden="true"></i>  トップ</button></div>
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block" onclick="moveMember()"><i class="fa fa-users fa-2x" aria-hidden="true"></i>  メンバー</button></div>
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block" onclick="moveMypage()"><i class="fa fa-id-card-o  fa-2x" aria-hidden="true"></i>  マイページ</button></div>
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>  イベント</button></div>
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>  予備</button></div>
				<div class="col-sm-2 col-xs-4"><button class="btn btn-outline-default btn-rounded waves-effect btn-block" onclick="logout()"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>  ログアウト</button></div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="padding:20px 0" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-2 col-xs-2">
					<img th:src="${user.profileImage}"/>
				</div>
				<div class="col-sm-1 col-xs-1">
					<i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
				</div>
				<div class="col-sm-9 col-xs-9">
					<span th:text="${user.userExInfo.term}"></span><span>期生</span>
					<br/><br/>
					<span th:text="${user.fullName}"></span>
					(<span th:text="${user.nickName}"></span>)
				</div>
			</div>
		</div>
		<div class="panel-body">
			<span th:text="${user.userExInfo.birthday}"></span><span>  生まれ</span>
			<br/><br/>
			<span>職業： </span><span th:text="${user.userExInfo.job}"></span>
			<br/><br/>
			<span>FBページ： </span><span th:text="${user.userExInfo.link}"></span>
		</div>
	</div>
</div>
<!-- 寺子屋メンバーの詳細画面-->
<!--
<div class="container" style="padding:20px 0" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<img th:src="${user.profileImage}"/>
		</div>
		<div class="panel-body">
			<span>名前：</span><span th:text="${user.fullName}"></span>
			<span>ニックネーム：</span><span th:text="${user.nickName}"></span>
			<span>誕生日：</span><span th:text="${user.userExInfo.birthday}"></span>
		</div>
	</div>
</div>
-->
<!-- ここにヒストリーリストが入る -->
<!--
<div class="container" style="padding:20px 0" >
	<div th:each="history, row : ${histories}" th:object="${history}">
		<div class="panel panel-success">
			<div class="panel-heading">
			</div>
			<div class="panel-body">
				<span th:text="*{historyYearMonth}"></span>
				<span th:text="*{historyTitle}"></span>
			</div>
		</div>
	</div>
</div>
-->
<form method="post"></form>
<button class="btn btn-raised btn-primary btn-block" onclick="moveMember();">メンバー一覧に戻る</button>
</body>
</html>